
.vs/*
Blog.Data/bin*
Blog.Data/obj*
Blog.Entities/bin*
Blog.Entities/obj*
Blog.MVC/bin*
Blog.MVC/obj*
Blog.Services/bin*
Blog.Services/obj*
Blog.Shared/bin*
Blog.Shared/obj*
Blog.MVC/wwwroot/userImage/tuncaycemuzun_725_11_35_22_20_3_2021.jpg
Blog.MVC/wwwroot/userImage/tuncaycemuzun_624_53_33_22_20_3_2021.jpg
Blog.MVC/wwwroot/userImage/test_843_27_52_22_20_3_2021.png
Blog.MVC/wwwroot/userImage/test2_685_34_53_22_20_3_2021.png

Blog.MVC/bin/Debug/net5.0/Blog.MVC.Views.pdb
Blog.MVC/bin/Debug/net5.0/Blog.MVC.Views.pdb
Blog.MVC/bin/Debug/net5.0/ref/Blog.MVC.dll
Blog.Data/bin/Debug/net5.0/Blog.Entities.dll
Blog.MVC/bin/Debug/net5.0/Blog.MVC.Views.pdb
Blog.MVC/obj/Debug/net5.0/Blog.MVC.csproj.CoreCompileInputs.cache
Blog.MVC/wwwroot/userImage/testKullanici_1_10_10_1_21_3_2021.png
Blog.MVC/wwwroot/userImage/testKullanici_24_24_10_1_21_3_2021.png
.vs/BlogProject/DesignTimeBuild/.dtbcache.v2
Blog.Shared/obj/Debug/net5.0/Blog.Shared.csprojAssemblyReference.cache
Blog.Services/bin/Debug/net5.0/Blog.Data.dll
Blog.Services/bin/Debug/net5.0/Blog.Data.pdb
Blog.Services/bin/Debug/net5.0/Blog.Entities.dll
Blog.Services/bin/Debug/net5.0/Blog.Entities.pdb
Blog.Services/bin/Debug/net5.0/Blog.Services.dll
Blog.Services/bin/Debug/net5.0/Blog.Services.pdb
Blog.Services/obj/Debug/net5.0/Blog.Services.csprojAssemblyReference.cache
Blog.Services/obj/Debug/net5.0/Blog.Services.dll
Blog.Services/obj/Debug/net5.0/Blog.Services.pdb
Blog.MVC/obj/Debug/net5.0/ref/Blog.MVC.dll
Blog.MVC/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_LayoutSideBarNavPartial.cshtml.g.cs
Blog.MVC/obj/Debug/net5.0/Razor/Areas/Admin/Views/Shared/_Layout.cshtml.g.cs
Blog.MVC/obj/Debug/net5.0/Blog.MVC.Views.pdb
Blog.MVC/obj/Debug/net5.0/Blog.MVC.Views.dll
Blog.MVC/obj/Debug/net5.0/Blog.MVC.TagHelpers.output.cache
Blog.MVC/obj/Debug/net5.0/Blog.MVC.RazorCoreGenerate.cache
Blog.MVC/obj/Debug/net5.0/Blog.MVC.pdb
Blog.MVC/obj/Debug/net5.0/Blog.MVC.dll
Blog.MVC/obj/Debug/net5.0/Blog.MVC.csprojAssemblyReference.cache
Blog.MVC/obj/Debug/net5.0/Blog.MVC.csproj.FileListAbsolute.txt
Blog.MVC/obj/Debug/net5.0/Blog.MVC.csproj.CoreCompileInputs.cache
Blog.MVC/bin/Debug/net5.0/ref/Blog.MVC.dll
Blog.MVC/bin/Debug/net5.0/Blog.Services.pdb
Blog.MVC/bin/Debug/net5.0/Blog.Services.dll
Blog.MVC/bin/Debug/net5.0/Blog.MVC.Views.pdb
Blog.MVC/bin/Debug/net5.0/Blog.MVC.Views.dll
Blog.MVC/bin/Debug/net5.0/Blog.MVC.pdb
Blog.MVC/bin/Debug/net5.0/Blog.MVC.dll
Blog.MVC/bin/Debug/net5.0/Blog.Entities.dll
Blog.MVC/bin/Debug/net5.0/Blog.Data.pdb
Blog.MVC/bin/Debug/net5.0/Blog.Entities.pdb
Blog.MVC/bin/Debug/net5.0/Blog.Data.dll
Blog.Entities/obj/Debug/net5.0/ref/Blog.Entities.dll
Blog.Entities/obj/Debug/net5.0/Blog.Entities.pdb
Blog.Entities/obj/Debug/net5.0/Blog.Entities.dll
Blog.Entities/obj/Debug/net5.0/Blog.Entities.csprojAssemblyReference.cache
Blog.Entities/obj/Debug/net5.0/Blog.Entities.csproj.CoreCompileInputs.cache
Blog.Entities/bin/Debug/net5.0/ref/Blog.Entities.dll
Blog.Entities/bin/Debug/net5.0/Blog.Entities.pdb
Blog.Entities/bin/Debug/net5.0/Blog.Entities.dll
Blog.Data/obj/Debug/net5.0/ref/Blog.Data.dll
Blog.Data/obj/Debug/net5.0/Blog.Data.pdb
Blog.Data/obj/Debug/net5.0/Blog.Data.dll
Blog.Data/obj/Debug/net5.0/Blog.Data.csprojAssemblyReference.cache
Blog.Data/obj/Debug/net5.0/Blog.Data.csproj.CoreCompileInputs.cache
Blog.Data/bin/Debug/net5.0/ref/Blog.Data.dll
Blog.Data/bin/Debug/net5.0/Blog.Entities.pdb
Blog.Data/bin/Debug/net5.0/Blog.Entities.dll
Blog.Data/bin/Debug/net5.0/Blog.Data.pdb
Blog.Data/bin/Debug/net5.0/Blog.Data.dll
.vs/BlogProject/v16/.suo
.vs/BlogProject/DesignTimeBuild/.dtbcache.v2
.vs/BlogProject/v16/.suo
