@model Blog.Entities.Dtos.UserPasswordChangeDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="card mt-3">
            <div class="card-header">
                <h4 text-center><span class="fas fa-key"></span> Şifre Değiştir</h4>
            </div>
            <div class="card-body">
                <form asp-action="PasswordChange" method="POST" asp-controller="User">
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword"></label>
                        <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen Mevcut Şifrenizi Giriniz" />
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen Yeni Şifrenizi Giriniz" />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label>
                        <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen Yeni Şifrenizi Tekrar Giriniz" />
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><span class="fas fa-save"></span> KAYDET</button>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-danger"><span class="fas fa-times"></span> İPTAL</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>